
<!-- ########### FORTH SECTION ######### -->

<div class="section moveDown" id="section3">
	<div id="section3-background"></div>

	<div class="separator-h"></div>
	<div class="separator-h"></div>
	<div class="separator-h"></div>
	<div class="separator-h"></div>
	<div class="separator-h"></div>

	<div class="row">
		<div class="col-md-12 text-center">
			<div class="brand-center">
				<h1><%= SECTION_THREE_TITLE %></h1>
			</div><!-- ./brand-center -->
		</div><!-- ./col -->
		<div class="clearfix"></div>
	</div><!-- ./row -->

	<div class="separator-h"></div>
	<div class="separator-h hidden-xs"></div>
	
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center">
			<p><%= SECTION_THREE_TEXT %></p>
		</div><!-- ./col -->
		<div class="clearfix"></div>
	</div><!-- ./row -->
</div><!-- ./section3 -->