
<!-- ########### TOP SECTION ######### -->

<div class="section" id="section0">
	<div id="section0-background"></div>
	<div class="separator-h"></div>
	<div class="separator-h"></div>
	<div class="separator-h"></div>
	<div class="separator-h"></div>
	
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center">
			<div class="brand-center">
				<div id="brand-wrapper">
					<%= image_tag("logo.png", alt: "#{ COMPANY_NAME }") %>
				</div><!-- ./brand-wraper -->
			</div><!-- ./brand-center -->
		</div><!-- ./col -->
		<div class="clearfix"></div>
	</div><!-- ./row -->

	<div class="row">
		<div id="uber-statement" class="col-md-12 text-center">
			
			<div class="separator-h"></div>
			
			<h1><%= SLOGAN_PRIMARY %></h1>
			<h2><%= SLOGAN_SECONDARY %></h2>
			
			<div class="separator-h hidden-xs"></div>
			<div class="separator-h"></div>
			<div class="separator-h"></div>
			
			<a href="javascript:void(0);" class="btn btn-signup btn-request-invite cd-signup"><%= SIGNUP_BUTTON_TEXT %></a>
		</div><!-- ./col -->
	</div><!-- ./row -->
</div><!-- ./section0 -->