<div class="navbar hidden-print main" role="navigation" >
	<ul class="main pull-left">
		<li id='logo-container' class="navbar-logo pull-left">
			<h1><%= COMPANY_NAME %></h1>
		</li>
	</ul><!-- ./brand -->
	
	<ul class="main pull-right main_nav">
		<li class="navbar-button">
			<a href="javascript:void(0);" class="btn btn-sm btn-navbar btn-signup cd-signup">Sign Up</a>
		</li>
	</ul><!-- ./buttons -->
	<div class="clearfix"></div>
	
</div><!-- ./navbar -->