<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= COMPANY_NAME %> Contact Form</h1>
	
	<p>Name: <%= @user_info["name"] %></p>
	<p>Email: <%= @user_info["email"] %></p>
	<p>Message: <%= @user_info["message"] %></p>
  </body>
</html>