//
// Tooltips
// --------------------------------------------------

// Tooltips
// -------------------------

.tooltip-inner { background: #272a2c; color: #bab9b9; }
.tooltip.bottom .tooltip-arrow { border-bottom-color: #272a2c; }
.tooltip.top .tooltip-arrow { border-top-color: #272a2c; }
.tooltip.left .tooltip-arrow { border-left-color: #272a2c; }
.tooltip.right .tooltip-arrow { border-right-color: #272a2c; }
.tooltip.left { margin-left: -13px; }